.tokensComponent {}

.tokensComponent table.abTable,
.investorsComponent table.abTable {
    border: 0;
    background: none;
}

.tokensComponent table.abTable .tableHeader tr th,
.investorsComponent table.abTable .tableHeader tr th {
    background: #fff;
    padding: 20px 2%;
    font-family: 'ProximaNova-SM', sans-serif;
    color: #094bb1;
    font-size: 16px;
    border-bottom: 3px solid #f8f9fb;
}

.tokensComponent table.abTable tr td,
.investorsComponent table.abTable tr td {
    background: #fff;
    padding: 20px 2% !important;
    font-family: 'ProximaNova-R', sans-serif;
    color: #8f9bab;
    font-size: 14px;
    border-color: #f8f9fb;
}

.tokensComponent table.abTable tbody tr:hover td,
.investorsComponent table.abTable tbody tr:hover td {
    background: #00cddb !important;
    color: #fff !important;
}

.tokensComponent table.abTable tbody tr:hover td i {
    color: #fff !important;
}