.usersComponent table.abTable {
    border: 0;
    background: none;
    margin-top: 0;
}

.usersComponent table.abTable .tableHeader tr th {
    background: #fff;
    padding: 20px 2%;
    font-family: 'ProximaNova-SM', sans-serif;
    color: #094bb1;
    font-size: 16px;
    border-bottom: 3px solid #f8f9fb;
}

.usersComponent table.abTable .tableHeader tr th .download {
    width: 50px;
}

.usersComponent table.abTable tr td {
    background: #fff;
    padding: 20px 2% !important;
    font-family: 'ProximaNova-R', sans-serif;
    color: #8f9bab;
    font-size: 14px;
    border-color: #f8f9fb;
}

.usersComponent table.abTable tbody tr:hover td {
    background: #00cddb !important;
    color: #fff !important;
}

.usersComponent .tableTabs .ui.secondary {
    margin-bottom: 0;
    border-bottom: 0;
}

.usersComponent .tableTabs .ui.secondary a.item {
    color: #094bb1;
    min-width: 150px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: 'ProximaNova-SM', sans-serif;
    font-size: 18px;
}

.usersComponent .tableTabs .ui.secondary a.item:hover {
    color: #094bb1;
}

.usersComponent .tableTabs .ui.secondary a.active.item {
    color: #094bb1;
    padding-bottom: 28px;
    border-bottom: 4px solid #094bb1;
}

.usersComponent .tableTabs .ui.secondary a.active.item:hover {
    color: #094bb1 !important;
    border-bottom: 4px solid #094bb1;
}

.usersComponent .tableContainer {
    background: #f8f9fb;
    padding: 36px 13% 36px 15%;
    width: 130%;
    margin-left: -15%;
    height: 100%;
}

.usersComponent .tableScrollContainer {
    height: 450px;
    max-height: 450px;
    padding: 0 1% 0 0;
    overflow-y: scroll;
}

.usersComponent .tableScrollContainer::-webkit-scrollbar-track {
    border-radius: 10px;
}

.usersComponent .tableScrollContainer::-webkit-scrollbar-thumb {
    background: #4F6683;
}

.usersComponent h2.tokenHeader,
.usersComponent h2.tokenHeader a {
    font-family: 'Futura-M', sans-serif;
    font-size: 32px;
    color: #8F9BAB;
    transition: all .3s ease;
    font-weight: 400;
}

.usersComponent h2.tokenHeader a:hover {
    color: #4f6683;
}

.usersComponent .stats {
    display: flex;
    margin-bottom: 50px;
}

.usersComponent .tradingToggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: -35px;
}

.usersComponent .tradingToggle .ui.checked.fitted.toggle.checkbox label:before {
    background-color: #00FFC6 !important;
}

.usersComponent .tradingToggle .ui.fitted.toggle.checkbox label:after {
    width: 1.2rem;
    height: 1.2rem;
    top: 2px;
    margin-left: 3px;
}

.usersComponent .tradingToggle .ui.checked.fitted.toggle.checkbox label:after {
    width: 1.2rem;
    height: 1.2rem;
    top: 2px;
    margin-left: 0;
}

.usersComponent .tradingToggle span {
    color: #4f6683;
    font-size: 16px;
    font-family: 'ProximaNove-R', sans-serif;
    align-self: center;
    margin-right: 30px;
}

.usersComponent .tradingToggle img {
    width: 20px;
    position: relative;
}

.usersComponent .tradingToggle .verticalSeparator {
    width: 2px;
    height: 20px;
    background: #F1F4F8;
    margin: 0 30px;
}

.usersComponent .sortButtons img {
    width: 12px;
    float: right;
    padding: 2px 0;
    cursor: pointer;
}

.usersComponent .sortButtons {
    width: 12px;
    float: right;
    display: flex;
    flex-direction: column;
}

.usersComponent .infoIcon {
    width: 20px;
    margin-left: 20px;
}