.sidebarComponent {
  font-size: 16px !important;
  background-color: #03a0cc !important;
}

.logoMenuItem {
	background-image: linear-gradient(-14deg, #094BB1 0%, #00CDDB 100%);
	height: 85px;
	display: flex !important;
}

.logoImage {
	height: 32px;
	margin: auto;
}

.dollarIcon {
	width: 24px !important;
	height: 24px !important;
	margin-right: 20px !important;
}

.barsIcon {
	width: 20px !important;
	height: 16px !important;
	margin-right: 24px !important;
}

.walletIcon {
	width: 24px !important;
	height: 24px !important;
	margin-right: 20px !important;
}

.connectionIcon {
	width: 12px !important;
	height: 12px !important;
	margin-left: 66px !important;
}

.issuerMenuItem {
	height: 60px;
	display: flex !important;
	align-items: center;
}

.dropdownIcon {
	width: 10px !important;
	height: 15px !important;
	margin-left: 45px !important;
}
