.statsCardComponent {
    background: #fff;
    width: 400px;
    max-width: 400px;
    padding: 50px 0 30px;
    text-align: center;
    box-shadow: 0 4px 20px 0 rgba(180, 180, 180, 0.3);
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.statsCardComponent img {
    width: 55px;
}

.statsCardComponent h4 {
    font-family: 'ProximaNova-SM';
    font-size: 42px;
    color: #4f6683;
    margin: 0;
}

.statsCardComponent p {
    font-family: 'ProximaNova-SM';
    font-size: 18px;
    color: #4f6683;
}