.statsCardComponent {
    background: #fff;
    width: 400px;
    max-width: 400px;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 20px 0 rgba(180, 180, 180, 0.3);
    border-radius: 4px;
    margin-right: 30px;
}

.statsCardComponent img {
    width: 55px;
}

.statsCardComponent h4 {
    font-family: 'ProximaNova-SM';
    font-size: 42px;
    color: #4f6683;
    margin: 10px 0 0;
}