html,
body {
    width: 100%;
    height: 100%;
}

.appComponent {
    width: 100%;
    height: 100%;
}

.error {
    color: red;
}

.input__error {
    color: red;
}

.mainContainer {
    margin-left: 212px;
    padding-right: 215px;
    width: 100%;
}

.pages {
    padding: 0 10%;
}

.appComponent .ui.teal.button {
    background-color: #00cddb;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 20px 0;
    font-family: 'ProximaNova-R', sans-serif;
}

.appComponent .ui.teal.button:hover {
    background-color: #03A0CC;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
}