html,
body {
    width: 100%;
    height: 100%;
}

.appComponent {
    width: 100%;
    height: 100%;
}

.error {
    color: red;
}

.input__error {
    color: red;
}

.mainContainer {
    margin-left: 210px;
    padding-right: 210px;
    width: 100%;
    height: 100vh;
    background-image: url('/images/Bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -200px;
}

.pages {
    padding: 0 10%;
}

.appComponent .ui.teal {
    background-color: #00cddb;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 20px 0;
    font-family: 'ProximaNova-R', sans-serif;
}

.appComponent .ui.teal:hover {
    background-color: #03A0CC;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
}

.appComponent .ui.segment {
    box-shadow: 0 4px 20px 0 rgba(180, 180, 180, 0.3);
    border-radius: 4px;
    border: 0;
}