html,
body {
    width: 100%;
    height: 100%;
}

.appComponent {
    width: 100%;
    height: 100%;
}

.error {
    color: red;
}

.input__error {
    color: red;
}

.mainContainer {
    margin-left: 212px;
    padding-right: 215px;
    width: 100%;
}